/* Paleta de colores de los botones */
:root {
    --electric-violet-50: #f3f3ff;
    --electric-violet-100: #e8e8ff;
    --electric-violet-200: #d4d4ff;
    --electric-violet-300: #b4b2ff;
    --electric-violet-400: #8f87fe;
    --electric-violet-500: #6a56fc;
    --electric-violet-600: #6747f5;
    --electric-violet-700: #4821e0;
    --electric-violet-800: #3c1bbc;
    --electric-violet-900: #33189a;
    --electric-violet-950: #1c0d68;
}

body{
    font-family: nunito,Arial;
    background: linear-gradient(to right,rgb(80, 80, 195),rgb(123, 58, 236));
}

header{
    background-color: rgb(110, 117, 236);
    border-radius: 10px;
}

/* Estilo para contenedores */
.contenedor {
    border-radius: 5px;
    margin: 30px 20px;
    padding: 20px;
    background-color: white;
}

/* Encabezado */
.encabezado{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-items: flex-end;
}
.encabezado h3{
    color: white;
    margin-left: 10px;
}

/* Contenedor para los botones del menú */
.botones_menu {
    display: flex; /* Establece el contenedor de botones como flex */
    justify-content: flex-end; /* Alinea los botones a la derecha */
    flex-grow: 1; /* Permite que el contenedor de botones ocupe el espacio restante */
    border: transparent;
}

/* Contenedor del menu movil */
.menu_movil {
    display: none;
    justify-content: flex-end;
    flex-grow: 1;
}


#icon_menu {
    font-size: 18px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    margin-right: 5px;
}


#portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
#portada h1{
    margin: 10px;
}

 
/* Estilo para los botones del menú */
.boton {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-family: nunito, Arial;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin: 10px;
    color: white;
}
.boton::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--electric-violet-600);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.boton:hover::before {
    scale: 3;
}
.boton:hover {
    color: white;
    scale:1.1;
    box-shadow: 0 0px 20px var(--electric-violet-100);
}
.boton:active{
    scale: 1;
}
/* Final de los Botones */


/* Logo de Bienvenida del Inicio */
#logo_liceo {
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
}

/* Organigrama */
#organigrama {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
#organigrama img {
    max-width: 100%; /* Hace que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: 70%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
}



/* Pie de página */
#pie_pagina {
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
#pie_pagina h3 b p {
    margin: 5px;
}
#pie_pagina h3 {
    margin: 2px;
}

/* Parrafos */
.parrafo{
    text-align: justify;
    line-height: 1.5;
    text-indent: 30px;
    
}


/* Mostrar las Noticas */
.mostrar_noticia{
    border: 2px rgb(201, 201, 201) solid;
    border-radius: 10px;
    padding: 10px;
    min-width: 40%;
    
}
.seccion_noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.leer_mas{
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
}
.leer_mas a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}


/* Seccion de la galeria de imagenes */
#galeria{
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.gallery {
    width: 80%;
    max-width: 600px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.images {
    display: flex;
    transition: transform 0.5s ease;
}
.image {
    min-width: 100%;
    box-sizing: border-box;
}
.buttons {
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    transform: translateY(-50%);
}
.botones_galeria {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    
}
/* Final de la galeria */



/* Menu de navegacion lateral Dispositivos Moviles */
#btn_nav{
    display: none;
}
.navegacion a{
    display: flex;
    text-decoration: none;
    color: white;
    width: 30%;
    justify-content: center;
    text-align: center;
}
.navegacion{
    display: flex;
    align-items: center;
    flex-direction: column;
}
nav{
    position: fixed;
    border-radius: 10px;
    right: 0;
    top: 0;
    height: 80%;
    top: 135px;
    transform: translateX(100%);
    transition: .4s ease;
    background-color: #33189a;
    width: 96%;
    overflow-y: auto;
}
#btn_nav:checked ~ nav {
    transform: translateX(-2%);
}
nav::-webkit-scrollbar {
    display: none; /* Ocultar la barra de desplazamiento en navegadores basados en WebKit */
}

/* Menu de navegacion */
.opciones{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    text-align: center;
}
.opciones > li > a{
    display: block;
    text-decoration: none;
    color: white;
}
.segunda_opciones{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #3c1bbc;
    padding: 5px;
    border-radius: 10px;
}
.segunda_opciones a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: left;
}
.opciones li:hover .segunda_opciones{
    display: block;
}


/* Adaptar a dispositivos */
@media screen and (max-width:800px) {
    .menu{
        display: none;
    }

    .botones_menu{
        display: none;
    }

    .menu_movil{
        display: flex;
    }

}