/* Paleta de colores de los botones */
:root {
    --electric-violet-50: #f3f3ff;
    --electric-violet-100: #e8e8ff;
    --electric-violet-200: #d4d4ff;
    --electric-violet-300: #b4b2ff;
    --electric-violet-400: #8f87fe;
    --electric-violet-500: #6a56fc;
    --electric-violet-600: #6747f5;
    --electric-violet-700: #4821e0;
    --electric-violet-800: #3c1bbc;
    --electric-violet-900: #33189a;
    --electric-violet-950: #1c0d68;
}

body{
    font-family: nunito,Arial;
    background: linear-gradient(to right,rgb(80, 80, 195),rgb(123, 58, 236));
}

header{
    background-color: rgb(110, 117, 236);
    border-radius: 10px;
}

/* Estilo para contenedores */
.contenedor {
    border-radius: 5px;
    margin: 30px 20px;
    padding: 20px;
    background-color: white;
}

/* Encabezado */
.encabezado{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-items: flex-end;
}
.encabezado h3{
    color: white;
    margin-left: 10px;
}


#icon_menu {
    font-size: 18px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    margin-right: 5px;
}


#portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
#portada h1{
    margin: 10px;
}

 
/* Estilo para los botones del menú */
.boton {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-family: nunito, Arial;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin: 10px;
    color: white;
}
.boton::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--electric-violet-600);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.boton:hover::before {
    scale: 3;
}
.boton:hover {
    color: white;
    scale:1.1;
    box-shadow: 0 0px 20px var(--electric-violet-100);
}
.boton:active{
    scale: 1;
}
/* Final de los Botones */


/* Logo de Bienvenida del Inicio */
#logo_liceo {
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
}

/* Organigrama */
#organigrama {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
#organigrama img {
    max-width: 100%; /* Hace que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    width: 60%; /* Ajusta el tamaño de la imagen al del contenedor */
}

/* Parrafos */
.parrafo{
    text-align: justify;
    line-height: 1.5;
    text-indent: 30px;
    padding: 0px 25px;
}


/* Mostrar las Noticas */
.seccion_noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mostrar_noticia{
    border: 2px rgb(201, 201, 201) solid;
    border-radius: 10px;
    padding: 10px;
    min-width: 20%;
    margin: 20px 0px 20px 0px;
}
.mostrar_noticia img{
    max-width: 100%;
    height: auto;
}
.leer_mas{
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    padding: 0px;
}
.leer_mas a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}


/* Seccion de la galeria de imagenes */
#galeria{
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.gallery {
    width: 80%;
    max-width: 600px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.images {
    display: flex;
    transition: transform 0.5s ease;
}
.image {
    min-width: 100%;
    width: 100%;
    box-sizing: border-box;
}
.buttons {
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    transform: translateY(-50%);
}
.botones_galeria {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    
}
/* Final de la galeria */



/* Menu de navegacion lateral Dispositivos Moviles 
/* Contenedor del menu movil */
.menu_movil {
    display: none;
    justify-content: flex-end;
    flex-grow: 1;
}
/* Oculta el checbox del menu*/
#btn_nav{
    display: none;
}
/* Estilo del menu lateral de Dispositivos Moviles */
.navegacion a{
    display: flex;
    text-decoration: none;
    color: white;
    width: 30%;
    justify-content: center;
    text-align: center;
}
.navegacion{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu_dispositivos{
    position: absolute;
    border-radius: 10px;
    right: 0;
    top: 0;
    height: 100%;
    top: 135px;
    transform: translateX(100%);
    transition: .4s ease;
    background-color: #33189a;
    width: 96%;
    overflow-y: auto;
}
#btn_nav:checked ~ .menu_dispositivos {
    transform: translateX(-2%);
}
.menu_dispositivos::-webkit-scrollbar {
    display: none; /* Ocultar la barra de desplazamiento en navegadores basados en WebKit */
}



/* Contenedor para los botones del menú de pc*/
.menu_pc {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}
/* Estilo del menu de pc */
.menu {
    display: flex;
    list-style: none;
    align-items: center;
}
.menu > li > a, .sub_menu > li > a {
    display: block;
    text-decoration: none;
}
.sub_menu {
    list-style: none;
    position: absolute;
    background-color: #4821e0;
    border-radius: 5px;
    opacity: 0; /* Inicialmente transparente */
    transform: translateY(-10px); /* Desplazado hacia arriba */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transición para opacidad y desplazamiento */
    visibility: hidden; /* Ocultar el submenú */
    padding: 10px;
    width: 20%;
}
.menu > li:hover .sub_menu {
    opacity: 1; /* Hacer visible el submenú */
    transform: translateY(0); /* Volver a la posición original */
    visibility: visible; /* Asegurarse de que sea visible */
}



/* Seccion de Mision Vision*/
.contenedor_mision_vision{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mision_vision{
    display: flex;
    padding: 10px;
    width: 45%;
    align-items: center;
}
.img_mision_vision{
    padding: 10px;
    width: 50%;
}
.img_mision_vision img{
    max-width: 100%;
    height: auto;
}


/* Estilos generales para el footer */
footer {
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
    padding: 30px;
    color: white;
    font-size: 14px;
}
/* Contenedor principal del footer */
.main_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
/* Estilo para el logo del footer */
.logo_footer {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.logo_footer h3 {
    margin: 20px 0px 10px 0px ;
}
.logo_footer p {
    margin: 0;
    color: rgba(230, 230, 230, 0.877);
}
.logo_footer img {
    width: 100px;
}
/* Estilo para la dirección */
.direccion {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 40%;
}
.direccion p {
    color: rgba(230, 230, 230, 0.877);
}
.direccion b, .direccion p {
    margin: 10px 0; /* Margen uniforme para ambos elementos */
}
/* Estilo para los enlaces rápidos */
.enlaces_rapidos {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 30%;
    align-items: flex-start;
}
.enlaces_rapidos b {
    margin: 10px 0;
}
.enlaces_rapidos a {
    text-decoration: none;
    color: rgba(230, 230, 230, 0.877);
    margin-bottom: 10px;
    transition: ease 0.2s;
}
.enlaces_rapidos a:hover {
    transform: translateX(10%);
    scale: 1.2;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}
/* Estilo para el copyright */
.container_copiryght {
    margin-top: 20px; /* Margen de 10px respecto al hr */
}


/* Estilos del formulario login */
.contenedor_login{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.example{
    display: flex;
    border: 2px solid black;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(236, 236, 236, 0.493);

}
.form-container {
    border-radius: 0.75rem;
    color: rgba(243, 244, 246, 1);
    margin: 70px;
    width: 50%;

}
.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.form {
  margin-top: 1.5rem;
}
.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.input-group label {
  display: block;
  margin-bottom: 4px;
}
.input-group input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid rgb(90, 89, 89);
  outline: 0;
  padding: 0.75rem 1rem;
  color: rgb(0, 0, 0);
}
.input-group input:focus {
  border-color: rgba(167, 139, 250);
}
.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175,1);
  margin: 8px 0 14px 0;
}
.forgot a,.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}
.forgot a:hover, .signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}
.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}
.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}
.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
}
.formulario_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: black;
    margin: 0;
    padding: 50px;
    text-align: center;
}
  




/* Menu lateral Dashboard */
.main_dashboard {
    display: flex;
    margin: 20px 0px;
    height: 40rem /* Esto hay que revisarlo*/
    /*transition: all 0.3s; /* Transición para el contenedor principal */
}
.menu_dashboard {
    display: inline;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 50px;
    transition: width ease 0.5s; /* Transición para el ancho del menú */
}
/* Expandir el ancho del menú al hacer hover */
.menu_dashboard:hover {
    width: 30%; /* Ancho expandido */
}
.menu_item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s; /* Transición para el fondo */
}
.menu_item:hover {
    background-color: #f0f0f0; /* Color de fondo al hacer hover */
}
.menu_text {
    display: none; /* Ocultar texto inicialmente */
    opacity: 1; /* Inicialmente invisible */
    margin-left: 5px;
    transition: opacity 0.3s ease; /* Transición para la opacidad */
    transition: ease 0.4s;
}
.menu_dashboard:hover .menu_text {
    display: block;
    opacity: 1; /* Hacer visible el texto */
}
.menu_item:hover .menu_text {
    display: flex; /* Mostrar texto al hacer hover */
    scale: 1.2;
    transform: translateX(10%);
}



/* modifucar los iconos Global*/
iconify-icon{
    font-size: 20pt;
    color: black;
    margin: 10px;
}


/* Mostrar las Publicaciones Realizadas*/
/* esto hay que revisarlo y modificarlo pertenece al dashboard*/
.contenedora{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 0px 10px;
    border: 2px solid black;
   
}

.contenedor_table{
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    max-height: 80%; /* Ajusta la altura máxima según lo necesites */
    overflow-y: auto; /* Habilita el scroll vertical */
}

/* Estilo de las tabla para mostrar informacion de las historias */
/* esto hay que revisarlo y modificarlo pertenece al dashboard*/
table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}





/* Adaptar a dispositivos */
@media screen and (max-width:800px) {
    
    /* Ocultar el menu de pc */
    .menu_pc{
        display: none;
    }

    /* Mostrar el Menu de los dispositivos moviles */
    .menu_movil{
        display: flex;
    }
   

    /*Mision y Vision*/
    .mision_vision{
        width: 100%;
    }
    .img_mision_vision{
        width: 100%; 
    }

    /*Organigrama*/
    #organigrama img {
        width: 100%;
    }

    /* Adaptar el footer a dispositivos moviles */
    .main_footer{
        flex-direction: column;
        align-items: center;
    }
    .logo_footer,.direccion,.enlaces_rapidos{
        align-items: center;
        width: 100%;
        margin-bottom: 20px ;
    }
    .enlaces_rapidos a:hover{
        transform: inherit;
        scale: inherit;
        color: white;
        text-shadow: inherit;
    }
}