/* Paleta de colores de los botones */
:root {
    --electric-violet-50: #f3f3ff;
    --electric-violet-100: #e8e8ff;
    --electric-violet-200: #d4d4ff;
    --electric-violet-300: #b4b2ff;
    --electric-violet-400: #8f87fe;
    --electric-violet-500: #6a56fc;
    --electric-violet-600: #6747f5;
    --electric-violet-700: #4821e0;
    --electric-violet-800: #3c1bbc;
    --electric-violet-900: #33189a;
    --electric-violet-950: #1c0d68;
}

body{
    font-family: nunito,Arial;
    background: linear-gradient(to right,rgb(80, 80, 195),rgb(123, 58, 236));
}

header{
    background-color: rgb(110, 117, 236);
    border-radius: 10px;
}


.contenedor {
    border: 2px solid black;
    border-radius: 5px;
    margin: 30px 20px;
    background-color: white;
}

.encabezado{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-items: flex-end;
}

.encabezado h3{
    color: white;
    margin-left: 10px;
}

.botones_usuario {
    display: flex; /* Establece el contenedor de botones como flex */
    justify-content: flex-end; /* Alinea los botones a la derecha */
    flex-grow: 1; /* Permite que el contenedor de botones ocupe el espacio restante */
    border: transparent;
}

.boton_menu{
    display: none;
    justify-content: flex-end;
    flex-grow: 1;
}

.icon_menu {
    font-size: 18px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    color: white;
    margin-right: 5px;
}

.menu{
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    z-index: 1000;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    margin: 5px;
    background: rgb(110, 117, 236);
    border-radius: 10px;
}

.menu_movil{
    display: flex;
    flex-direction: column;
}

#portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
    padding: 20px;
    text-align: center;
}

#portada h1{
    margin: 10px;
}

 
/* Botones de accion */
.boton {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    margin: 10px;
    color: white;
}

.boton::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--electric-violet-600);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.boton:hover::before {
    scale: 3;
}

.boton:hover {
    color: white;
    scale:1.1;
    box-shadow: 0 0px 20px var(--electric-violet-100);
}

.boton:active{
    scale: 1;
}
/* Final de los Botones */

#menu_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_liceo {
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px;
}

#organigrama {
    display: flex;
    justify-content: center;
    border: black solid;
    border-radius: 5px;
    margin: 5px;
}

#pie_cabeza {
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    color: white;
}


#parrafo{
    margin: 30px 20px;
    padding: 20px;
}


/* Seccion de la galeria de imagenes */
#galeria{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.gallery {
    width: 80%;
    max-width: 600px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.images {
    display: flex;
    transition: transform 0.5s ease;
}
.image {
    min-width: 100%;
    box-sizing: border-box;
}
.buttons {
    display: flex;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    transform: translateY(-50%);
}
.botones_galeria {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    
}
/* Final de la galeria */


@media screen and (max-width:800px) {
    header{
        display: flex;
    }

    .menu{
        display: flex;
    }

    .botones_usuario{
        display: none;
    }

    .boton_menu{
        display: flex;
    }
}